:root {
    --xs: 0.5rem;
    --s: 1rem;
    --sm: 1.5rem;
    --m: 2rem;
    --ml: 2.5rem;
    --l: 3rem;
    --ff-light: BBCReithSans-Light;
    --ff-lightitalic: BBCReithSans-LightItalic;
    --ff-regular: BBCReithSans-Regular;
    --ff-bold: BBCReithSans-Bold;
    --ff-extrabold: BBCReithSans-ExtraBold;
    --ff-extrabolditalic: BBCReithSans-ExtraBoldItalic;

}