.Cart__Empty-Text {
    background: linear-gradient(90deg, rgba(173, 97, 78, 1) 0%, rgba(199, 50, 164, 1) 100%);
    background-clip: text;
    color: transparent;
    font-family: var(--ff-bold);
    font-size: clamp(24px, 2vw, 48px);
}