.Product__Cart-Button {
    background: linear-gradient(90deg, rgba(182, 30, 147, 0.44) 0%, rgba(48, 57, 166, 0.65) 100%);
    border: none;
    border-radius: 30px;
    color: transparent;
    cursor: pointer;
    font-size: clamp(12px, 1.5vw, 18px);
    height: 100%;
    margin-right: var(--space-3xs);
    padding: var(--space-3xs);
}

.Product__Cart-Button:hover {
    transform: scale(1.05);
}

.Product__Cart-Button:active {
    transform: scale(0.95);
}

.Product__Cart-Button .Gradient-Container {
    height: 100%;
    width: clamp(90px, 15vw, 150px);
}