.background-layer {
    height: 100%;
    width: 100%;
    position: absolute;
}

.background-layer__gradient {
    background-image: linear-gradient(90deg, rgba(24, 8, 60, 1) 0%, rgba(24, 8, 214, 0.5) 50%, rgba(217, 8, 198, 0.5) 100%);
}

.background-layer__light {
    background-color: #1e094927;
}

.background-layer__target {
    background-image: url('../assets/shared/mask.png');
    background-repeat: no-repeat;
    background-size: cover;
}