.category {
    background-color: #021737ff;
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    align-content: center;
    gap: clamp(3rem, 5vw, 8rem);
    height: 100%;
    width: 100%;
}


.item-thumbnail__wrapper {
    background: linear-gradient(90deg, rgba(144, 12, 187, 1) 0%, rgba(85, 17, 205, 0.09) 100%);
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    height: clamp(130px, 20vw, 200px);
    overflow: hidden;
    justify-content: center;
    position: relative;
    width: clamp(130px, 20vw, 200px);
}


.item-thumbnail__back {
    background: linear-gradient(90deg, rgba(144, 12, 187, 1) 0%, rgba(85, 17, 205, 0.09) 100%);
    background-clip: content-box;
    border-radius: 20px;
    display: flex;
    height: 100%;
    overflow: hidden;
    position: absolute;
    justify-content: center;
    width: 100%;
    z-index: 0;
}

.item-thumbnail__front {
    background: linear-gradient(90deg, rgba(144, 12, 187, 0.45) 0%, rgba(85, 17, 205, 0.38) 100%);
    border: 3px solid #ab68b7ff;
    border-radius: 20px;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 2;
}

.item-thumbnail {
    position: absolute;
    z-index: 1;
    bottom: 0;
    height: 100%;
    width: auto;
}

.item-thumbnail.sonic-13,
.item-thumbnail.sonic-10,
.item-thumbnail.figure-dalek,
.item-thumbnail.figure-sontaran,
.item-thumbnail.figure-weeping_angel,
.item-thumbnail.figure-zygon {
    padding-top: 0.5rem;
}

.item-thumbnail__transparency-band {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    z-index: 1;
}

.item-thumbnail__transparency-band>* {
    opacity: 0;
}

.item-thumbnail__info,
.item-thumbnail__transparency-band {
    align-self: flex-end;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    bottom: 0px;
    color: #ffd893ff;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    width: 100%;
}

.item-thumbnail__info {
    z-index: 2;
}

.item-thumbnail__name {
    font-family: var(--ff-regular);
    font-size: clamp(14px, 1.5vw, 22px);
    max-width: 10ch;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-thumbnail__price {
    font-family: var(--ff-bold);
    font-size: clamp(14px, 1.5vw, 22px);
    max-width: 4ch;
    z-index: 2;
}

.page-browser {
    align-items: center;
    align-self: center;
    background: linear-gradient(90deg, rgba(186, 45, 212, 0.77) 0%, rgba(160, 79, 174, 0.36) 100%);
    cursor: pointer;
    display: grid;
    position: fixed;
    height: clamp(40px, 4vw, 90px);
    width: clamp(20px, 2vw, 50px);
}

.arrow {
    height: clamp(10px, 1vw, 30px);
    transform: translateX(-50%);
}

.arrow.left {
    justify-self: center;
}

.arrow.right {
    justify-self: flex-end;
}

.page-browser.left {
    border-radius: 0px 60px 60px 0px;
    left: 0;
}

.page-browser.right {
    border-radius: 60px 0 0 60px;
    right: 0;
}

@media (min-width: 2500px) {

    .page-browser {
        width: 50px;
        height: 50px;
    }

    .page-browser.left,
    .page-browser.right {
        border-radius: 50%;
    }

    .page-browser.left {
        left: 30%;
    }

    .page-browser.right {
        right: 30%;
    }

    .arrow.right {
        justify-self: flex-end;
        transform: translateX(-100%);
    }
}