:root {
    --clr-grey-100: #f6f8fa;
    --clr-grey-200: #eaeef2;
    --clr-grey-300: #d0d7de;
    --clr-grey-400: #afb8c1;
    --clr-grey-500: #8c959f;
    --clr-grey-600: #6e7781;
    --clr-grey-700: #57606a;
    --clr-grey-800: #424a53;
    --clr-grey-900: #32383f;
    --clr-grey-1000: #24292f;
}