.header {
    display: flex;
    justify-content: center;
    position: relative;
    height: 44px;
    width: 100%;
    background: linear-gradient(90deg, rgba(40, 18, 102, 0.99) 0%, rgba(0, 32, 60, 0.75) 100%);
}

.header__logo {
    z-index: 1;
    position: absolute;
    width: 150px;
    transform: translateY(1%);
}