.header {
    display: grid;
    position: relative;
    height: 44px;
    width: 100%;
    background: linear-gradient(90deg, rgba(40, 18, 102, 0.99) 0%, rgba(0, 32, 60, 0.75) 100%);
    border-bottom: 1px solid #ffd893ff;
}

.header__logo {
    z-index: 1;
    position: absolute;
    width: 150px;
    transform: translateY(1%);
    justify-self: center;
}

.header__title {
    justify-self: flex-start;
    align-self: center;
    margin-left: 1rem;
    transform: translateY(2px);
    z-index: 1;
    font-family: BBCReithSans-Light;
    font-size: 16px;
    background-image: linear-gradient(90deg, rgba(255, 216, 147, 0.84) 0%, rgba(249, 29, 148, 0.44) 100%);
    color: transparent;
    background-clip: text;

}