.home {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: flex-end;
    width: 100%;
}

.tardis {
    animation: materialize 3s linear infinite both;
    width: clamp(200px, 30%, 400px);
    opacity: 1;
    margin-right: 2rem;
    transform: translateY(-5%);
}

@keyframes materialize {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }
}

@media (min-width: 1000px) {
    .tardis {
        transform: translateX(-20%);
    }
}

@media (min-width: 2000px) {
    .tardis {
        transform: translateX(-50%);
    }
}

@media (min-width: 3000px) {
    .home {
        justify-content: center;
    }
    .tardis {
        transform: translateX(150%);
    }
}

@media (min-width: 1000px) and (max-height: 1000px) {
    .tardis {
        width: clamp(200px, 30vh, 400px);

    }
}