@import './colors.css';
@import './App.css';

body,
html,
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html,
#root {
    width: 100%;
    height: 100%;
}

body {
    overflow-x: hidden;
}