@import './rules.css';
@import './fonts.css';
@import './App.css';
@import './Background.css';
@import './Header.css';
@import './NavBar.css';
@import './Home.css';
@import './Shop.css';
@import './Category.css';
@import './Item.css';
@import './Cart.css';

html,
body,
*,
*::before,
*::after {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
}