@import './App.css';
@import './Background.css';
@import './Header.css';
@import './NavBar.css';
@import './Home.css';


html,
body,
*,
*::before,
*::after {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;

}