.item {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    height: 45%;
    max-width: 2500px;
    position: relative;
    width: 100%;
}

.item__left {
    display: flex;
    flex-direction: column;
    margin-left: clamp(1rem, 5vw, 5rem);
    width: clamp(250px, 50%, 400%);
}

.item__title {
    background: linear-gradient(90deg, rgba(209, 155, 46, 1) 0%, rgba(165, 63, 162, 0.99) 100%);
    background-clip: text;
    color: transparent;
    font-family: var(--ff-extrabold);
    font-size: clamp(16px, 5vw, 32px);
}

.item__description {
    color: #ff9ce2ff;
    font-family: var(--ff-regular);
    font-size: clamp(12px, 3vw, 18px);
    margin-bottom: 1rem;
}

.item__price {
    background: linear-gradient(90deg, rgba(209, 155, 46, 1) 0%, rgba(165, 63, 162, 0.99) 100%);
    background-clip: text;
    color: transparent;
    font-family: var(--ff-regular);
    font-size: clamp(16px, 5vw, 32px);
    margin-bottom: 1.5rem;
}

.item-page__form {
    align-items: flex-start;
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
}


.quantity-wrapper {
    align-items: center;
    display: flex;
    width: fit-content
}

.quantity-input {
    align-self: center;
    background: linear-gradient(90deg, rgba(255, 68, 147, 0.77) 0%, rgba(255, 170, 147, 0.99) 100%);
    background-clip: text;
    border: none;
    color: transparent;
    font-family: var(--ff-regular);
    font-size: clamp(18px, 5vw, 28px);
    text-align: center;
    transform: translateY(1px);
    width: 30px;
}

.quantity-modifier__button {
    background: linear-gradient(90deg, rgba(182, 30, 147, 0.44) 0%, rgba(48, 57, 166, 0.65) 100%);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: grid;
    height: clamp(18px, 5vw, 28px);
    place-content: center;
    width: clamp(18px, 5vw, 28px);
}

.gradient-clip-background {
    background: linear-gradient(90deg, rgba(255, 68, 147, 0.77) 0%, rgba(255, 170, 147, 0.99) 100%);
    background-clip: text;
    display: grid;
    font-family: var(--ff-bold);
}

.sign {
    color: transparent;
    font-family: var(--ff-bold);
    font-size: clamp(18px, 5vw, 28px);
    transform: translateY(2px);
}

.item-page__add-to-cart {
    background: linear-gradient(90deg, rgba(182, 30, 147, 0.44) 0%, rgba(48, 57, 166, 0.65) 100%);
    border: none;
    border-radius: 30px;
    color: transparent;
    cursor: pointer;
    font-size: clamp(12px, 1.5vw, 18px);
    height: 100%;
    margin-right: 0.5rem;
    padding: 0.5rem;
}

.item-page__add-to-cart .gradient-clip-background {
    height: 100%;
    width: clamp(90px, 15vw, 150px);
}

.item__picture {
    height: 100%;
}


@media (min-width: 1500px) {
    .item {
        justify-content: center;
    }
}