.shop {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.shop__navbar__list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.category-bubble {
    width: clamp(130px, 15vw, 180px);
    position: relative;
}

.category-bubble:hover {
    scale: 1.1;
}

.category-bubble.left {
    transform: translateX(25%);
}

.category-bubble.right {
    transform: translateX(-25%);
}

.category-bubble.unfocused {
    z-index: 0;
}

.category-bubble.focused {
    transform: scale(1.1);
    z-index: 1;
}

.category-bubble.left.swipe-left {
    animation: left-to-right 0.5s linear forwards;
    z-index: 0;
}

.category-bubble.center.swipe-left {
    animation: center-to-left 0.5s linear forwards;
    z-index: 0;
}

.category-bubble.right.swipe-left {
    animation: right-to-center 0.5s linear forwards;
    z-index: 1;
}

.category-bubble.left.swipe-right {
    animation: left-to-center 0.5s linear forwards;
    z-index: 1;
}

.category-bubble.center.swipe-right {
    animation: center-to-right 0.5s linear forwards;
    z-index: 0;
}

.category-bubble.right.swipe-right {
    animation: right-to-left 0.5s linear forwards;
    z-index: 0;
}

@keyframes center-to-left {
    to {
        transform: translateX(-75%);
    }
}

@keyframes center-to-right {
    to {
        transform: translateX(75%);
    }
}

@keyframes left-to-right {
    to {
        transform: translateX(175%);
    }
}

@keyframes left-to-center {
    to {
        transform: translateX(100%);
    }
}

@keyframes right-to-center {
    to {
        transform: translateX(-100%);
    }
}

@keyframes right-to-left {
    to {
        transform: translateX(-175%);
    }
}