.Product__Price--location--shop {
    background: linear-gradient(90deg, rgba(209, 155, 46, 1) 0%, rgba(165, 63, 162, 0.99) 100%);
    background-clip: text;
    color: transparent;
    font-size: var(--fs-md);
    margin-bottom: var(--space-m);
}