.Page-404__Text-And-Button {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    grid-column: 1;
    grid-row: 2;
    justify-content: space-around;
    margin-left: 2rem;
    width: clamp(150px, 20vw, 300px);
}

@media (min-width: 2000px) {
    .Page-404__Text-And-Button {
        justify-self: center;
    }
}