.Page-404__Picture {
    bottom: 0;
    grid-column: 2;
    grid-row: 2/4;
    height: 95%;
    justify-self: flex-end;
    position: absolute;
}

@media (min-width: 2000px) {
    .Page-404__Picture {
        justify-self: center;
        grid-column: 2;

    }
}